@{
    ViewData["Title"] = "YUJCSR";
    Layout = "_Layout";
}

<div class="home-page-content">
    @* Banner Section *@

    <div class="banner-section">
        <div class="banner-title">
            Facilitating <span>Connections Between CSOs & Companies</span> For Sustainable change
        </div>

        <div class="info-search-wrapper">
            <div class="filter-wrapper">
            </div>

            <div class="filter-actions">
            </div>
        </div>
    </div>

    @* Number section *@

    <div class="number-section">
        <div class="row">
            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">35+</div>
                <div class="text">
                    Projects Listed
                </div>
            </div>

            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">1200cr+</div>
                <div class="text">
                    Total Value of CSR Programs
                </div>
            </div>

            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">65+</div>
                <div class="text">
                    CSOs (Civil Society Organizations)
                </div>
            </div>

            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">85+</div>
                <div class="text">
                    Cities Covered
                </div>
            </div>

            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">600+</div>
                <div class="text">
                    District Covered
                </div>
            </div>

            <div class="number-card col col-md-4 col-lg-2">
                <div class="number">85+</div>
                <div class="text">
                    Volunteers Engaged
                </div>
            </div>
        </div>
    </div>

    @* Who we are section *@

    <div class="who-we-are-section">
        <div class="container">
            <div class="row">
                <div class="col col-md-12 col-lg-6">
                    <h2>
                        Who we are
                    </h2>

                    <h4>
                        YujCSR is a startup that facilitates a platform for companies and Civil Society Organizations to effectively utilize CSR funds to achieve sustainable change by facilitating innovative projects with a holistic approach by involving stakeholders throughout. Through consultation & experts' advice, we co-create a project that could be a potential CSR-funded intervention and provide end-to-end coordination for curating these projects from conceptualization to execution with a focus on sustenance.
                    </h4>
                </div>
                <div class="col col-md-12 col-lg-6">
                </div>
            </div>
        </div>
    </div>
</div>