@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-size: 18px;
  font-family: "Poppins", sans-serif !important;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.home-page-content {
  background: #F0F0F0;
}

/* Navbar */
.header-navbar {
  padding: 15px 40px;
}
.header-navbar > .container-fluid {
  padding: 0px;
}
.header-navbar .navbar-brand {
  padding: 0px;
}
@media (max-width: 991px) {
  .header-navbar .navbar-collapse {
    margin-top: 15px;
  }
}
.header-navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000000;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1028px) {
  .header-navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}
.header-navbar .action-container {
  display: flex;
  gap: 10px;
}
@media (max-width: 991px) {
  .header-navbar .action-container {
    margin-top: 10px;
  }
}
.header-navbar .action-container a {
  text-decoration: none;
}
.header-navbar .action-container .btn {
  padding: 10px 30px;
  border-radius: 60px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
}
.header-navbar .action-container .btn:focus {
  box-shadow: 0 0 4px 0.25rem rgba(247, 71, 71, 0.5);
}
@media (max-width: 1028px) {
  .header-navbar .action-container .btn {
    font-size: 14px;
  }
}
.header-navbar .action-container .btn-outline-primary {
  border-color: #F74747;
  color: #F74747;
}
.header-navbar .action-container .btn-outline-primary:hover {
  background-color: #F74747;
  color: #ffffff;
}
.header-navbar .action-container .btn-primary {
  background-color: #F74747;
  color: #ffffff;
  border-color: #F74747;
}

/* Banner Section */
.banner-section {
  height: 620px;
  background-image: url(/Assets/images/banner-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-section .banner-title {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.banner-section .banner-title span {
  font-weight: 600;
}
.banner-section .info-search-wrapper {
  height: 50px;
  background: #ffffff;
  height: 73px;
  /*width: 967px;*/
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

/* Number section */
.number-section {
  display: flex;
}
.number-section > .row {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
.number-section .number-card {
  text-align: center;
  padding: 18px;
  min-height: 124px;
}
.number-section .number-card .number {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
}
.number-section .number-card .text {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 5px;
}
.number-section .number-card:first-child, .number-section .number-card:last-child {
  background: rgba(248, 73, 73, 0.6);
}
.number-section .number-card:first-child .number, .number-section .number-card:first-child .text, .number-section .number-card:last-child .number, .number-section .number-card:last-child .text {
  color: #491313;
}
.number-section .number-card:nth-child(2) {
  background: rgba(0, 112, 188, 0.6);
}
.number-section .number-card:nth-child(2) .number, .number-section .number-card:nth-child(2) .text {
  color: #042C48;
}
.number-section .number-card:nth-child(3) {
  background: rgba(120, 200, 67, 0.6);
}
.number-section .number-card:nth-child(3) .number, .number-section .number-card:nth-child(3) .text {
  color: #2D5214;
}
.number-section .number-card:nth-child(4) {
  background: rgba(64, 180, 231, 0.6);
}
.number-section .number-card:nth-child(4) .number, .number-section .number-card:nth-child(4) .text {
  color: #014C6D;
}
.number-section .number-card:nth-child(5) {
  background: rgba(254, 211, 1, 0.6);
}
.number-section .number-card:nth-child(5) .number, .number-section .number-card:nth-child(5) .text {
  color: #615000;
}

/* Who we are section */
.who-we-are-section {
  padding: 100px;
}
@media (max-width: 991px) {
  .who-we-are-section {
    padding: 50px 0px;
  }
}
.who-we-are-section h2 {
  color: #0271BC;
  font-size: 35px;
  font-weight: 400;
}

/* Services section */
